<div class="max-w-xl mx-auto my-4 p-4 bg-white rounded-lg shadow-md">
  <!-- Post Header -->
  <div class="flex items-center justify-between">
    <div class="flex gap-2">
      <img
        class="h-10 w-10 rounded-full object-cover"
        src="https://img.freepik.com/free-photo/3d-illustration-funny-cartoon-man-with-mobile-phone_1057-44838.jpg?t=st=1737282769~exp=1737286369~hmac=0082c43c9096310ea60f8d7296f485a0c67c707ab4963332439317788f9e2afb&w=740"
        alt="User Profile"
      />
      <div>
        <p class="text-gray-500 text-sm">
          By {{ post.User.firstName }} {{ post.User.lastName }}
        </p>
        <p class="text-gray-500 text-xs">
          {{ post.uploadDate | date : "short" }}
        </p>
      </div>
    </div>
  </div>

  <!-- Post Title -->
  <div>
    <h2 class="text-lg font-semibold text-gray-500">{{ post.title }}</h2>
  </div>

  <!-- Post Image -->
  <div class="my-4">
    <img
      [src]="post.imageUrl"
      alt="{{ post.title }}"
      class="w-full h-48 object-cover rounded-md"
    />
  </div>

  <!-- Like Button and Comment Summary -->
  <div class="flex justify-between items-center">
    <button
      class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-500"
      (click)="likePost()"
    >
      Like
    </button>
    <p class="text-gray-600">Likes: {{ post.likeCount }}</p>
    <p class="text-gray-600 cursor-pointer" (click)="toggleComments()">
      {{ post.Comments.length }} Comments
    </p>
  </div>

  <!-- Comments Section -->
  <div *ngIf="commentsVisible" class="mt-4 max-h-32 overflow-y-auto">
    <div
      *ngFor="let comment of post.Comments"
      class="border-b border-gray-200 py-2"
    >
      <p class="text-gray-700 text-sm">{{ comment.content }}</p>
      <p class="text-gray-500 text-xs">
        By {{ comment.User.firstName }} {{ comment.User.lastName }}
      </p>
    </div>
  </div>
</div>
